body{
    width: 100%;
    height: 100%;
    background: #e8f1eb;
}
.loader-inner{
    position: absolute;
    margin-top: 25%;
    left: 48%;
    text-align: center;
}   
    
.loader-inner span{
    margin-left: 16px;
    line-height: 40px;
    font-size: $f-18;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: #252727;
}
.ball-pulse > div{
    background: #252727 !important;
    margin-left: 15px !important;
}

