.nav_btn{
    transform: translateX(0px);
    position: absolute;
    right: -38px;
    top: 35px;
    display: block;
    background: #303131bf;
    padding: .6em;
    cursor: pointer;
    @include speed();
    h1{
        display: none;
    }
    .fa-bars{
        font-size: 20px;
        color: #f7f7f7;
    }
    &.active{
        transform: translateX(0px);
        @include speed();
        background: #dc6918;
    }
}


@include pad(){
    .nav_btn{
        position: initial;
        &.active{
            background: #5b6968;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #ffff;
            h1{
                display: block;
                font-size: 18px;
            }
        }
    }
    .fa-bars{
        display: flex;
        justify-content: flex-end;
    }
}